config
[{"id":"8767ebc9.789818","type":"mqtt-broker","broker":"192.168.11.181","port":"1883","clientid":""},{"id":"653f428b.9ac0bc","type":"inject","name":"timer","topic":"","payload":" ","payloadType":"string","repeat":"10","crontab":"","once":false,"x":281,"y":72,"z":"15611534.ea9eeb","wires":[["e0520005.1fae","eb16f797.14e908"]]},{"id":"e0520005.1fae","type":"mqtt out","name":"heating schedule request","topic":"heating/schedule/request","qos":"0","retain":"","broker":"8767ebc9.789818","x":524,"y":38,"z":"15611534.ea9eeb","wires":[]},{"id":"eb16f797.14e908","type":"mqtt out","name":"water schedule request","topic":"water/schedule/request","qos":"0","retain":"","broker":"8767ebc9.789818","x":514,"y":112,"z":"15611534.ea9eeb","wires":[]},{"id":"452a7cf1.bad584","type":"mqtt in","name":"water schedule","topic":"water/schedule","broker":"8767ebc9.789818","x":304,"y":607,"z":"15611534.ea9eeb","wires":[["434cffd7.bcb3","bc1faa76.43e058","74b95a83.8b46a4"]]},{"id":"74b95a83.8b46a4","type":"mqtt out","name":"water status","topic":"water/status","qos":"0","retain":"","broker":"8767ebc9.789818","x":668,"y":519,"z":"15611534.ea9eeb","wires":[]},{"id":"f631ec20.09ce1","type":"rpi-gpio out","name":"water switch","pin":"16","set":true,"level":"0","out":"out","x":665,"y":608,"z":"15611534.ea9eeb","wires":[]},{"id":"434cffd7.bcb3","type":"change","name":"converter","rules":[{"t":"change","p":"payload","from":"on","to":"1","re":false},{"t":"change","p":"payload","from":"off","to":"0","re":false}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":608,"z":"15611534.ea9eeb","wires":[["f631ec20.09ce1"]]},{"id":"bc1faa76.43e058","type":"file","name":"store water status","filename":"/home/pi/.node-red/water.status","appendNewline":false,"overwriteFile":"true","x":518,"y":741,"z":"15611534.ea9eeb","wires":[]},{"id":"66ecc9a7.991338","type":"mqtt in","name":"water status request","topic":"water/status/request","broker":"8767ebc9.789818","x":293,"y":520,"z":"15611534.ea9eeb","wires":[["f52905a7.0ad6f8"]]},{"id":"f52905a7.0ad6f8","type":"file in","name":"lookup status","filename":"/home/pi/.node-red/water.status","format":"utf8","x":484,"y":519,"z":"15611534.ea9eeb","wires":[["74b95a83.8b46a4"]]},{"id":"a9eeb340.56115","type":"mqtt in","name":"heating schedule","topic":"heating/schedule","broker":"8767ebc9.789818","x":286,"y":297,"z":"15611534.ea9eeb","wires":[["e613f54c.19ec08","272f8f88.d8d07","5bb68870.a44978"]]},{"id":"5bb68870.a44978","type":"mqtt out","name":"heating status","topic":"heating/status","qos":"0","retain":"","broker":"8767ebc9.789818","x":650,"y":209,"z":"15611534.ea9eeb","wires":[]},{"id":"5af45b0d.a50ba4","type":"rpi-gpio out","name":"heating switch","pin":"18","set":true,"level":"0","out":"out","x":647,"y":298,"z":"15611534.ea9eeb","wires":[]},{"id":"e613f54c.19ec08","type":"change","name":"converter","rules":[{"t":"change","p":"payload","from":"on","to":"1","re":false},{"t":"change","p":"payload","from":"off","to":"0","re":false}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":298,"z":"15611534.ea9eeb","wires":[["5af45b0d.a50ba4"]]},{"id":"272f8f88.d8d07","type":"file","name":"store heating status","filename":"/home/pi/.node-red/heating.status","appendNewline":false,"overwriteFile":"true","x":500,"y":431,"z":"15611534.ea9eeb","wires":[]},{"id":"ef7ee927.108118","type":"mqtt in","name":"heating status request","topic":"heating/status/request","broker":"8767ebc9.789818","x":275,"y":210,"z":"15611534.ea9eeb","wires":[["66ebe1f6.99142"]]},{"id":"66ebe1f6.99142","type":"file in","name":"lookup status","filename":"/home/pi/.node-red/heating.status","format":"utf8","x":466,"y":209,"z":"15611534.ea9eeb","wires":[["5bb68870.a44978"]]}]
